<div class="navigation">
    <nav id="nav" class="nav">
        <ul class="nav__ul">
            <li>
                <a href="../home" class="nav__item"><span class="icon"><i class="fa-solid fa-house-user"></i></span>
                    Accueil</a>
            </li>
            <li>
                <a href="../about" class="nav__item"><span class="icon"><i class="fa-solid fa-person-chalkboard"></i></span>Presentation</a>
            </li>
            <li>
                <a href="../register" class="nav__item"><span class="icon"><i class="fa-solid fa-address-card"></i></span>S'inscrire</a>
            </li>
            <li>
                <a href="../login" class="nav__item"><span class="icon"><i class="fa-solid fa-user"></i></span>Login</a>
            </li>
        </ul>
    </nav>
    <button id="menu">
        <div id="btn1"></div>
        <div id="btn"></div>
        <div id="btn2"></div>
    </button>