<div id="Secondaire">
    <h4 class="red">Unite des langues</h4>
    <div class="suggestion">
        <label class="suggestion__h" for="ARAB">Langue Arabe</label class="suggestion__h">
        <input type="checkbox" name="ARAB" id="ARAB" value="ARAB">
    </div>
    <div class="suggestion">
        <label class="suggestion__h" for="FRAN">Langue Francais</label class="suggestion__h">
        <input type="checkbox" name="FRAN" id="FRAN" value="FRAN">
    </div>
    <div class="suggestion">
        <label class="suggestion__h" for="ENGL">Langue Anglais</label class="suggestion__h">
        <input type="checkbox" name="ENGL" id="ENGL" value="ENGL">
    </div>
    <div class="suggestion">
        <label class="suggestion__h" for="ESPG">Langue Espgnol</label class="suggestion__h">
        <input type="checkbox" name="ESPG" id="ESPG" value="ESPG">
    </div>
    <h4 class="red">Unite de communication et culture</h4>
    <div class="suggestion">
        <label class="suggestion__h" for="ECON">Economie</label class="suggestion__h">
        <input type="checkbox" name="ECON" id="ECON" value="ECON">
    </div>     
    <div class="suggestion">
        <label class="suggestion__h" for="COMM">Communication</label class="suggestion__h">
        <input type="checkbox" name="COMM" id="COMM" value="COMM">
    </div>
    <h4 class="red">Unite scientifique</h4>
    <div class="suggestion">
        <label class="suggestion__h" for="MATH">Mathematique</label class="suggestion__h">
        <input type="checkbox" name="MATH" id="MATH" value="MATH">
    </div>
</div>